[submodule "mobile"]
	path = mobile
	url = https://github.com/levandung-it03/Home-Workout-With-AI-Mobile.git
[submodule "backend"]
	path = backend
	url = https://github.com/levandung-it03/Home-Workout-With-AI.git
[submodule "fastapi"]
	path = fastapi
	url = https://github.com/levandung-it03/Home-Workout-With-AI-Machines.git
